.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 56px;
    background: #71889B;
    border-radius: 28px;
    margin-bottom: 8px;
}

.text {
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
}